.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-decoration-color : black;
  text-decoration-line: none;
}

.title {
  font-size: 2.5em;
  text-align: center;
  color: #333;
}

.subtitle {
  font-size: 1.5em;
  text-align: center;
  color: #666;
}

.description {
  margin-bottom: 20px;
  text-align: center;
}

.linksContainer {
  display: flex;
  justify-content: flex-end;
}


